
    #goTopBtn {POSITION: fixed; TEXT-ALIGN: center; LINE-HEIGHT: 30px; WIDTH: 30px; BOTTOM: 35px; HEIGHT: 33px; FONT-SIZE: 12px; CURSOR: pointer; RIGHT: 0px; _position: absolute; _right: auto}
    #page{page-break-after: always;}
    #menu {font-family:Consolas, 'Liberation Mono', Menlo, Courier, monospace;}
    #menu a {color:#0366d6; font-size:18px;font-weight:600;line-height:28px;text-decoration:none;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'}
    #container {text-align:center;padding:3px 3px 3px 10px;font-family:Arail,'Liberation Mono', Menlo, Courier, monospace;}
    #helper {text-align:left;border:1px dotted #fafafa;color:#777777;font-size:12px;}
    #footer {text-align:left;padding:15px;color:#ffffff;font-size:10px;background:#663355;font-family:Arail,'Liberation Mono', Menlo, Courier, monospace;}
    .kmer_table {text-align:center;font-size:8px;padding:2px;}
    .kmer_table td{text-align:center;font-size:8px;padding:0px;color:#ffffff}
    .sub_section_tips {color:#999999;font-size:10px;padding-left:5px;padding-bottom:3px;}
    .menu_item {text-align:left;padding-top:5px;font-size:18px;}
    .highlight {text-align:left;padding-top:30px;padding-bottom:30px;font-size:20px;line-height:35px;}
    .alignleft {text-align:left;}
    .alignright {text-align:right;}
    .figure {width:800px;height:600px;}
    .header {color:#ffffff;padding:1px;height:20px;background:#000000;}
    .section_title {color:#ffffff;font-size:20px;padding:5px;text-align:center;background:#663355; margin-top:10px;}
    .subsection_title {font-size:16px;padding:5px;margin-top:10px;text-align:center;color:#663355}
    a:link {text-decoration: none; color: darkblue; font-size:1.7em; font-family: 宋体}
    a:visited {text-decoration: none; color: darkgreen; font-size:1.7em; font-family: 宋体}
    a:hover {color: grey; font-size:1.7em;font-family: 宋体}
    a:active {color: #0000FF; font-size:1.7em;font-family: 宋体}
    a {border-style: none; outline: none !important}
    a#alt:link {text-indent: 2em; font-size:16px; background: #EAF2D3}
    a#alt:visited {text-indent: 2em;  font-size:16px;background: #EAF2D3}
    a#alt:hover {text-indent: 2em; font-size:16px;background: #EAF2D3}
    a#alt:active {text-indent: 2em; font-size:16px; background: #EAF2D3}
    body {font-size:100%; padding:2em; font-family: "宋体"}
    ul {font-size:1.5em; line-height: 1.5; font-family: 黑体}
    ul.alt {font-size:1.2em; line-height: 1.5; font-family: 宋体}
    ul.alt.alt {font-size:0.8em; line-height: 1.5; font-family: 宋体}
    h1 {margin-left:2em; font-size:2em; line-height: 1.5; text-align: center; color: darkblue; font-family: "Times New Roman",黑体}
    h2 {font-size:1.5em; color: green}
    h2.big {font-size:1.5em; color: darkblue; font-family: 黑体}
    h3 {font-size:1.2em; text-indent:0.5em; color: green}
    h4 {font-size:1em; text-indent:1em}
    p{line-height: 1.5; margin: 0.25em 0.5em 0.25em 0.5em;}
    p.head {text-align: right; color: grey;}
    p.paragraph {text-indent: 2em; line-height: 1.5;font-family:'Times New Roman',宋体;}
    p.center {text-align: center}
    p.name {text-align: center; font-size: 0.9em}
    p.name_left_bord {margin-left:2em; font-size: 0.9em;font-weight:bold}
    p.seq {font-size: 0.8em; margin-left:2em; margin-right:2em; word-wrap:break-word; font-family:Courier New}
    p.premark {text-align: center; font-size: 0.8em; margin-left:2em; margin-right:2em}
    p.tremark {font-size: 0.8em; margin-left:2em}
    p.ref {font-family:Arial; font-size: 0.9em}
    .figure {width:800px;height:600px;}
    
    table{font-family:Calibri, Arial, Helvetica, sans-serif; text-align: center;width:90%;border-collapse:collapse;margin-left:2em;border:2px solid;border-left:none;border-right:none;border-top:2px solid;border-bottom:2px solid;} 
    tb{overflow: auto; width: 98%; height: 100%;margin-left:auto;margin-right:auto;} 
    th{background:#328aa4 url(tr_back.gif) repeat-x;color:#fff;} 
    td{background:#e5f1f4;}
    tr.even td{background:#e5f1f4;}
    tr.odd td{background:#f8fbfc;} 
    
    .tf1 {width:98%;}
    .tf1 th {font-size:1.1em; text-align:center; background:#328aa4 url(tr_back.gif) repeat-x;color:#fff;}
    .tf1 td { font-size:1em; padding:3px 7px 2px 7px; text-align:center;}
    .tf2 th { font-size:1.1em; text-align:center; background:#328aa4 url(tr_back.gif) repeat-x;color:#fff; }
    .tf2 td { line-height:150%; text-align:center; }
    .tf2 tr:hover{background-color:#ecfbd4;}
    .tf2 tr:hover td{background:none;}
    .tf3 td .over, tr.even td.over, tr.odd td.over{background:#ecfbd4;}
    .tf3 td.down, tr.even td.down, tr.odd td.down{background:#bce774;color:#fff;}
    .tf3 td.selected, tr.even td.selected, tr.odd td.selected{background:#bce774;color:#555;}
    
    .selector{ margin: 17px 15px 0 0 ; float: right; text-align: center;}
    #content .active{ display: block; width:800px; height:600px;}
    .chart{ width:800px; height:600px;}
    .none { display: none;}
